.header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  min-height: 120px;
  background-color: #c1dcdc;
  gap: 80px;
  row-gap: 20px;
  padding: 20px 110px;
}

.nameDiv {
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #c1dcdc;
}

.pagesDiv > a,
.pagesDiv > a:hover {
  color: rgba(30, 30, 30, 0.5);
}

.nameDiv > a,
.pagesDiv > a:first-child {
  color: #1e1e1e;
}

.pagesDiv {
  flex: 1;
  display: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  gap: 30px;
  left: 400px;
}

.iconsDiv {
  display: inherit;
  gap: 50px;
}
