.button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  gap: 10px;

  width: 168px;
  height: 51px;

  background: #c1dcdc;
  border-radius: 8px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.button:active {
  background: #a4baba !important;
}

.white {
  background: white;
  border: 2px solid #c1dcdc;
}

.button.hidden {
  display: none;
}

.button:hover {
  background: #bbd4d4;
}

.button.white:hover {
  background: rgb(241, 39, 39);
  border: 2px solid rgb(241, 39, 39);
}
