.imageCard{
    margin-left: 20px;
    margin-right: 20px;
}

.imagesDiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 140px 5em 140px;
    gap: 100px;    
    flex: 1;
}

.productsInputArea{
    justify-content: space-around;
    padding-top: 30px;

}

.productsInputDiv{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 64px;
    border: 1px solid;
}
