.imageCard{
    margin-left: 20px;
    margin-right: 20px;
}

.imagesDiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 140px 5em 140px;
    gap: 100px;    
    flex: 1;
}

.productsInputArea{
    margin-top: 30px;
}