.productDiv {
  min-height: 500px;
  margin-top: 50px;
}

.productDiv p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.productTitle {
  padding-left: 50px;
}

.productContent {
  margin: 0 100px 0 100px;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.productInformation {
  flex: 1;
}

.clientRating {
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.productDetails {
  border-bottom: 1px solid;
}

.ratingDiv {
  display: flex;
  gap: 30px;
  margin: 10px 0;
}
